proyecto/n8n/workflows/n8n_orquestador_v3.json
{
  "name": "Orquestador Central — Derivacion v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "derivar",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-derivar-v3-001",
      "name": "1. Recibir Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "derivar-protecta-v3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agente-historico:8004/consultar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: ($json.body || $json).ticket_id, resumen: ($json.body || $json).resumen || '', tipo_atencion_sd: ($json.body || $json).tipo_atencion_sd || '', area: ($json.body || $json).area || '', producto: ($json.body || $json).producto || '', tipo_incidencia: ($json.body || $json).tipo_incidencia || '', informador: ($json.body || $json).informador || '' }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "http-historico-v3-002",
      "name": "2. Histórico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [260, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.encontrado === true }}"
            }
          ]
        }
      },
      "id": "if-historico-v3-003",
      "name": "3. ¿Hay antecedente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [520, 200]
    },
    {
      "parameters": {
        "jsCode": "// Rama: histórico encontró antecedente. Payload orquestador sin Estimador/Complejidad.\nconst ticket = $node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json;\nconst hist = $node[\"2. Histórico\"].json;\nreturn [{ json: { ticket_id: ticket.ticket_id || 'TK-N8N', tipo_incidencia: ticket.tipo_incidencia || '', tipo_atencion_sd: ticket.tipo_atencion_sd || '', area: ticket.area || '', producto: ticket.producto || '', resumen: ticket.resumen || '', informador: ticket.informador || '', aplicativo: ticket.aplicativo || '', urgencia_detectada: 'media', tiempo_estimado_horas: null, categoria_tiempo: '', complejidad: 'media', score_complejidad: 50, nivel_recomendado: 'N1', via_historico: true, mesa_historico: hist.mesa_sugerida || null, resolucion_referencia: hist.resolucion_referencia || null } }];\n"
      },
      "id": "code-payload-orq-historico",
      "name": "4a. Payload Orquestador (via histórico)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agente-estimador:8005/estimar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).ticket_id || 'TK-N8N', tipo_incidencia: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).tipo_incidencia || '', tipo_atencion_sd: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).tipo_atencion_sd || '', area: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).area || '', producto: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).producto || '', resumen: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).resumen || '', urgencia_detectada: 'media' }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "http-estimador-v3-004",
      "name": "4. Estimador (ML)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [780, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agente-complejidad:8001/evaluar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ticket_id: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).ticket_id || 'TK-N8N', tipo_incidencia: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).tipo_incidencia || '', tipo_atencion_sd: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).tipo_atencion_sd || '', resumen: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).resumen || '', area: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).area || '', producto: ($node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json).producto || '', urgencia_detectada: 'media', tiempo_estimado_horas: $node[\"4. Estimador (ML)\"].json.tiempo_estimado_horas }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "http-complejidad-v3-005",
      "name": "5. Complejidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1040, 80]
    },
    {
      "parameters": {
        "jsCode": "// Rama: pipeline completo. Payload orquestador con Estimador + Complejidad.\nconst ticket = $node[\"1. Recibir Ticket\"].json.body || $node[\"1. Recibir Ticket\"].json;\nconst hist = $node[\"2. Histórico\"].json;\nconst est = $node[\"4. Estimador (ML)\"].json;\nconst comp = $node[\"5. Complejidad\"].json;\nreturn [{ json: { ticket_id: ticket.ticket_id || 'TK-N8N', tipo_incidencia: ticket.tipo_incidencia || '', tipo_atencion_sd: ticket.tipo_atencion_sd || '', area: ticket.area || '', producto: ticket.producto || '', resumen: ticket.resumen || '', informador: ticket.informador || '', aplicativo: ticket.aplicativo || '', urgencia_detectada: 'media', tiempo_estimado_horas: est.tiempo_estimado_horas ?? null, categoria_tiempo: est.categoria_tiempo || '', complejidad: comp.complejidad || 'media', score_complejidad: comp.score ?? 50, nivel_recomendado: comp.nivel_recomendado || 'N1', via_historico: hist.encontrado || false, mesa_historico: hist.mesa_sugerida || null, resolucion_referencia: hist.resolucion_referencia || null } }];\n"
      },
      "id": "code-payload-orq-pipeline",
      "name": "5b. Payload Orquestador (via pipeline)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agente-orquestador:8003/asignar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      },
      "id": "http-orquestador-v3-006",
      "name": "6. Orquestador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sistema-tickets-api:8000/jira/crear",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 20000 }
      },
      "id": "http-jira-python-v3-007",
      "name": "7. Crear Issue JIRA (Python)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1820, 200]
    },
    {
      "parameters": {
        "jsCode": "const jira = $input.first().json;\nconst orq = $('6. Orquestador').item.json;\nreturn [{ json: { ticket_id: orq.ticket_id, mesa_asignada: orq.mesa_asignada, nivel_asignado: orq.nivel_asignado, en_cola: orq.en_cola || false, complejidad: orq.complejidad, score_complejidad: orq.score_complejidad, tiempo_estimado_horas: orq.tiempo_estimado_horas, categoria_tiempo: orq.categoria_tiempo, via_historico: orq.via_historico || false, razonamiento: orq.razonamiento, resumen: orq.resumen, tipo_incidencia: orq.tipo_incidencia, tipo_atencion_sd: orq.tipo_atencion_sd, area: orq.area, producto: orq.producto || '', aplicativo: orq.aplicativo || '', informador: orq.informador || '', urgencia_detectada: orq.urgencia_detectada || '', jira_issue_key: jira.jira_issue_key || null, jira_url: jira.jira_url || null, timestamp: orq.timestamp } }];\n"
      },
      "id": "code-respuesta-v3-008",
      "name": "8. Armar Respuesta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 200]
    }
  ],
  "connections": {
    "1. Recibir Ticket": { "main": [[{ "node": "2. Histórico", "type": "main", "index": 0 }]] },
    "2. Histórico": { "main": [[{ "node": "3. ¿Hay antecedente?", "type": "main", "index": 0 }]] },
    "3. ¿Hay antecedente?": {
      "main": [
        [{ "node": "4a. Payload Orquestador (via histórico)", "type": "main", "index": 0 }],
        [{ "node": "4. Estimador (ML)", "type": "main", "index": 0 }]
      ]
    },
    "4a. Payload Orquestador (via histórico)": { "main": [[{ "node": "6. Orquestador", "type": "main", "index": 0 }]] },
    "4. Estimador (ML)": { "main": [[{ "node": "5. Complejidad", "type": "main", "index": 0 }]] },
    "5. Complejidad": { "main": [[{ "node": "5b. Payload Orquestador (via pipeline)", "type": "main", "index": 0 }]] },
    "5b. Payload Orquestador (via pipeline)": { "main": [[{ "node": "6. Orquestador", "type": "main", "index": 0 }]] },
    "6. Orquestador": { "main": [[{ "node": "7. Crear Issue JIRA (Python)", "type": "main", "index": 0 }]] },
    "7. Crear Issue JIRA (Python)": { "main": [[{ "node": "8. Armar Respuesta Final", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
